@charset UTF-8


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, #eb4a652a, #ffd7548f, #ff593f2c);
}

header {
    background-color: rgba(73, 179, 221, 0.575);
    padding: 10px;
    margin:10px;
    border-radius: 20px;
}
main {
    background-color: rgba(145, 9, 9, 0.281);
    padding: 10px;
    margin:5px;
    border-radius: 80px;
}
article{
    background-color: rgba(4, 150, 4, 0.151);
    padding: 10px;
    margin:10px;
    border-radius: 30px;
}
aside {
color: rgb(255, 255, 255);
text-align: left;
font-family: Arial, Helvetica, sans-serif;
font-size: 25pt;
font-weight: 5px;
box-shadow: 2px 5px 3px black;
text-shadow: 3px 3px 1px black;
border-radius: 20px;
}

footer{
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px;
    margin:10px;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 1px 1px;
    border-radius: 20px;
}
nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    
}

.basico button {
    background-color: aqua;
}

nav:hover > .intermediario {
    display:inline-block;
    color: rgb(134, 6, 6);
    background-color: rgb(150, 0, 57);
    width: 2px;
    right: 2px;
}
div#bola {
    height: 10px;
    width: 100px;
    margin: 10px;
    background-color: black;
    border-radius: 50%;
}

